body {
    max-height: 100vh;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;

}

header {
    min-height: 10vh;
    background: crimson;
}

main {
    min-height: 60vh;
    background: blueviolet;
}

footer {
    min-height: 30vh;
    background: aqua;
}