body {
    max-height: 100vh;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;

}

header {
    min-height: 10vh;
    background: rgba(0, 0, 0, .85);
    padding: 0.25rem 0;
}

nav {
    background: black;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: .25rem 1rem;
}

#link_logo img {
    background: transparent;
    width: 64px;
    height: 64px;
}

nav a {
    display: block;
    text-decoration: none;
    color: #8e8e8e;
    border: .5em solid transparent;
    margin: 23.25px 0;
}

#link_logo {
    margin: 0;
}

nav a:hover {
    background: #1b2529;
    border: .5em solid #1b2529;
    border-radius: .5em;
}

main {
    min-height: 60vh;
    background: blueviolet;
}

footer {
    min-height: 30vh;
    background: aqua;
}
