<html><body><h5 id="description">Description</h5>
<p>Let's start by setting the basic layout of your landing page.</p>
<p>First, you need to divide the HTML <code class="java">body</code> into 3 parts: header, main, and footer. The <code class="java">header</code> tag contains the navbar, the <code class="java">main</code> tag comprises the content, and the <code class="java">footer</code> tag, as you can guess, has the footer. For now, let's write the placeholder text inside these tags so that you can identify them.</p>
<p>Second, create a new CSS file named <em>style.css </em>and link it with the HTML. Next, select the <code class="java">body</code> and set the maximum height at <code class="java">100%</code> of the visible screen area. Also, get rid of the default margins, set the height of the lines at <code class="java">1.5</code>, and change the default font-family to <code class="java">sans-serif</code>.</p>
<p>Select the <code class="java">header</code>, <code class="java">main</code>, and <code class="java">footer</code> and set their minimum height at <code class="java">10%</code>, <code class="java">60%</code>, <code class="java">30%</code> of the visible screen area, respectively. Additionally, give them a background color to set them apart.</p>
<h5 id="objectives">Objectives</h5>
<p>In this stage your website should have:</p>
<ul>
<li>The <code class="java">header</code>, <code class="java">main</code> and <code class="java">footer</code> tags in the HTML <code class="java">body</code> with the order mentioned here;</li>
<li>A placeholder text inside these tags;</li>
<li>A link to a new CSS file;</li>
<li>Stick to the style rules for tags as described above.</li>
</ul>
<h5 id="example">Example</h5>
<p><strong>Example 1</strong>:</p>
<p><img alt="" height="770" name="eg1.png" src="https://ucarecdn.com/2d40e74f-ca96-4164-a36b-79b67319a250/" width="845"/></p></body></html>